<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <object th:include="fragments/head :: head" th:remove="tag"></object>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>Student Name</th>
	      <th>Course</th>
	      <th>Year</th>
	      <th>Credits</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr th:each="enrollment : ${enrollments}">
	  		<td th:text="${enrollment.student.name}"></td>
	  		<td th:text="${enrollment.course.title}"></td>
	  		<td th:text="${enrollment.yearOfEnrollment}"></td>
	  		<td th:text="${enrollment.finalGrade}"></td>
	  	</tr>
	  </tbody>
	</table>
</div>
</body>
</html>